---
import { Layout } from '../layouts'
import { Player } from '../components/Player'
import { TrackSelector } from '../components/TrackSelector'

const title: string = 'Petándolo Wapamente Abuela'
---

<Layout {title} >
    <TrackSelector />
    <Player client:only />
</Layout>
