---
import { get } from 'svelte/store';
import type { TrackView } from './api/tracks'
import { trackStore } from './stores/tracks';

const {items, reload} = trackStore
await reload()
const tracks: TrackView[] = get(items)
---

<select data-track-selector :options={tracks}>
    <option value="">Selecciona un episodio</option>
    {
        tracks.map(track => (
            <option value={track.url}>{track.title}</option>
        ))
    }
</select>

<script>
    const select:HTMLSelectElement | null = document.querySelector('[data-track-selector]')
    const handleSelect = () => {
        select?.dispatchEvent(new CustomEvent('pwa-track-changed', {
            detail: select?.value ?? '',
            bubbles: true
        }))
    }

    select?.addEventListener('change', handleSelect)
    window.addEventListener('load', handleSelect)

</script>

<style>
    label {
        margin: 0;
        padding: 0.5em;
        width: 100%;
        display: flex;
        justify-content: stretch;
    }
    select {
        padding: 0.5em;
        width: 100%;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
    }
</style>
