<script lang="ts">
    import PlayerButton from './PlayerButton.svelte'
    import ProgressBar from './ProgressBar.svelte'

    let url: string = ''
    let length: number = 0
    let playing: boolean = false
    let position: number = 0
    let player: HTMLAudioElement | null = null
    let eventSetted: boolean = false

    $: if (!!player && !eventSetted) {
        player.addEventListener('timeupdate', () => {
            position = player?.currentTime ?? 0
            length = player?.duration ?? 0
        })
        player.addEventListener('ended', () => {
            playing = false
            position = 0
        })
        eventSetted = true
    }

    const resetPlayer = async () => {
        if (!!player) {
            const was_playing = playing
            player.pause()
            playing = false
            player.currentTime = 0
            if (player) {
                player.pause()
                player.src = url
                await player.load()
                playing = was_playing
            }
        } else {
            setTimeout(() => resetPlayer(), 100)
        }
    }

    $: {
        if (!!player)
            if (playing) player.play()
            else player.pause()
    }

    document.addEventListener('pwa-track-changed', (event: any) => {
        url = event?.detail
        resetPlayer()
    })

    const handleCurrentChange = (event: any) => {
        console.log(event.detail)
        if (!!player) {
            player.currentTime = event.detail
        }
    }

</script>

<div class="container">
    {#if !!url}
        <div class="button">
            <PlayerButton bind:playing />
        </div>
        <div class="progress">
            <ProgressBar
                total={length}
                current={position}
                on:currentChanged={handleCurrentChange}
            />
        </div>
    {/if}
    <audio controls bind:this={player} />
</div>

<style>
    div.container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 1em;
        margin: 0;
    }
    div.button {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        height: 3em;
    }
    div.progress {
        flex: 1;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        height: 1em;
    }

    audio {
        display: none;
    }
</style>
