<script lang="ts">

    export let playing: boolean = true

    const clickHandler = () => (playing = !playing)

    const points = {
        'true': ['25,25 45,25 45,75 25,75', '55,25 75,25 75,75 55,75'],
        'false': ['35,25 75,50 75,50 35,75', '35,25 75,50 75,50 35,75'],
    }
</script>

<svg viewBox="0 0 100 100" on:click={clickHandler} on:keyup={clickHandler}>
    <polygon points={points[''+playing][0]} />
    <polygon points={points[''+playing][1]} />
    <circle cx="50" cy="50" r="45" fill="transparent" stroke-width="5" />
</svg>

<style>
    svg {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    svg polygon {
        fill: #000;
        transition: all 0.3s ease-in-out;
    }
    svg circle {
        stroke: #000;
    }
</style>
