<script lang="ts">
    import { createEventDispatcher } from 'svelte'

    export let total: number = 100
    export let current: number = 75

    const dispatch = createEventDispatcher()

    let bar: HTMLDivElement | null = null
    let width: number = 0
    $: width = (current / total) * 100

    let prop: number = 0
    $: prop = !!bar ? total / bar.clientWidth : 0

    const clickHandler = (event: any) => 
        dispatch('currentChanged', event.offsetX * prop)

</script>

<div
    data-progress-external
    bind:this={bar}
    on:click={clickHandler}
    on:keyup={() => {}}
>
    <div data-progress-internal style="width:{width}%" />
</div>

<style>
    div {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    div[data-progress-external] {
        background-color: #eee;
        border-radius: 5px;
        border: 2px solid #222;
        overflow: hidden;
    }
    div[data-progress-internal] {
        background-color: #222;
        height: 100%;
    }
</style>
