<div class="footer">
    <span></span>
</div>
<style>
    .footer {
        display: flex;
		margin: 0;
        padding: 0.25rem;
        background-color: #222;
		color: #eee;
        background-image: none;
    }
</style>
