---
export interface Props {
    title: string
}

const { title } = Astro.props
---

<div class="header">
    <h1>{title}</h1>
</div>
<style>
    .header {
        display: flex;
        margin: 0;
        padding: 0.25rem;
        background-color: #222;
        color: #eee;
        background-image: none;
        align-items: center;
        justify-content: center;
    }
</style>
