---
import { Main, Header, Footer } from '.'

export interface Props {
    title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="manifest" href="manifest.json" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="manifest" href="manifest.json" />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/iphone5_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/iphone6_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
            href="splashscreens/iphoneplus_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
            href="splashscreens/iphonex_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/iphonexr_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
            href="splashscreens/iphonexsmax_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/ipad_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/ipadpro1_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/ipadpro3_splash.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
            href="splashscreens/ipadpro2_splash.png"
        />
        <link rel="apple-touch-icon" href="images/icons/icon-72x72.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-96x96.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-128x128.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-144x144.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-152x152.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-384x384.png" />
        <link rel="apple-touch-icon" href="images/icons/icon-512x512.png" />
        <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#db4938" />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header {title} />
        <Main>
            <slot />
        </Main>
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif;
    }
</style>
