<main>
    <slot />
</main>
<style>
    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0;
        padding: 0.25rem;
        background-color: #eee;
        color: #222;
        background-image: none;
        overflow: hidden;
    }
</style>
